.title {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
    padding-top: 5vh;
}

@media (max-width: 900px) {
    .header {
        justify-content: space-evenly;
        height: 25vh;
    }

    .title {
        font-size: 11vw;
    }
}

@media (max-width: 400px) {
    .header {
        padding-top: 5vh;
    }
}

@media (max-width: 500px) {
    .header {
        padding-top: 0;
    }
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.search, .select {
    width: 43%;
}