a {
    color: #58a5f0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2vh 4vw 2vh 5vh;
}

.creator {
    justify-content: center;
    font-size: small;
}

.icon-attribution {
    float: right;
    font-size: 8px;
}

@media (max-width:500px) {
    .footer-container {
        padding: 0;
    }
 
    .creator {
        font-size: x-small;
    }
}